@page "/cities"
@using System.Text.Json;
@using System.Text;
@inject HttpClient client


<h3>Cities</h3>

@if (cities == null)
{
    <p>There's nothing to see</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>City name</th>
                <th>Population</th>
                <th>Select</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var city in cities)
            {
                <tr>
                    <td>@city.CityName</td>
                    <td>@city.Population</td>
                    <td>Select</td>
                </tr>
            }
        </tbody>
    </table>
}
<input type="text" @bind="newCity.CityName" />
<input type="number" @bind="newCity.Population" />
<button class="bttn" @onclick="AddCity">Add City</button>


@code {
    private List<CitiesPopulationModel> cities;

    CitiesPopulationModel newCity = new CitiesPopulationModel();

    protected override async Task OnInitializedAsync()
    {
        await LoadData();
    }
    private async Task LoadData()
    {
        cities = await client.GetFromJsonAsync<List<CitiesPopulationModel>>("/api/cities");
    }
    private async Task AddCity()
    {
        newCity.Id = 0;

        try
        {
            await client.PostAsJsonAsync("/api/cities", newCity);
            await LoadData();

        }
        catch (Exception ex)
        {
            
            throw ex.InnerException;
        }
    }
}
